<div id="publicContainer">
  <div class="publicContainerText">
    <h1><strong>TRIM:</strong> URL shortener</h1><br />
    <p class="lead">
      <strong>TRIM</strong> is a simple URL shortening service that provides the ability to turn any sized URL into a much smaller link.
      These links can be sent to anyone, and once clicked, will redirect a user to the website. Shortened URL's generated
      with <strong>TRIM</strong> can be tracked by total redirects as well as individual redirects on a per-IP basis.

      <h4>To get started, click <a href="/urls/new">here</a>, or click 'Create' in the menu bar at the top of the screen.</h4>
    </p>
  </div>
</div>
