<% if @urls.nil? %>
  <p>No URL's have been generated, yet!</p>
<% else %>
  <p>Most recent URL's:</p>
  <list>
    <% @urls.each do |url| %>
      <ul><%= url.name %> (<%= url.uuid %>)</ul>
    <% end %>
  </list>
<% end %>
