<% if @urls.nil? %>
  <p>No URL's have been generated, yet!</p>
<% end %>

<form action="/urls/new" method="POST">
    <input name="name" type="text" />
    <input type="submit" value="submit" id="submit" />
</form>
