<h1>Create a shortened URL:</h1>
<p class="lead">
  To create a new shortened URL, simply paste a URL into the box below and press 'Shorten!'<br />
  Ensure that the URL is in the following format: <strong>'http://domain.com'</strong>
</p>

<form action="/urls/create" method="POST">
    <input name="name" type="text" />
    <input type="submit" value="Shorten!" id="submit" />
</form>
