<div id="centeredContainer">
  <h1><strong>Create a new shortened URL</h1><br />
  <p class="lead">
    To create a new shortened URL, simply paste a URL into the box below and press 'Shorten!'<br />
    Ensure that the URL is in the following format: <strong>'http://www.domain.com'</strong>
  </p>

  <form action="/urls/create" method="POST" class="form-inline">
    <div class="form-group has-success has-feedback">
      <input name="name" type="url" class="form-control input-lg" placeholder="http://www.domain.com" autofocus />
    </div>
    <input type="submit" value="Shorten!" id="submit" class="btn btn-success input-lg" />
  </form>
</div>
